<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.SalaryChangeRecordMapper">
    <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.SalaryChangeRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="eid" property="eid" jdbcType="INTEGER"/>
        <result column="oldSid" property="oldSid" jdbcType="INTEGER"/>
        <result column="newSid" property="newSid" jdbcType="INTEGER"/>
        <result column="operatorId" property="operatorId" jdbcType="INTEGER"/>
        <result column="operatorName" property="operatorName" jdbcType="VARCHAR"/>
        <result column="operateTime" property="operateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insertBatch">
        insert into salary_change_record (eid, oldSid, newSid, operatorId, operatorName, operateTime)
        values
        <foreach collection="list" item="record" separator=",">
            (#{record.eid,jdbcType=INTEGER},
             #{record.oldSid,jdbcType=INTEGER},
             #{record.newSid,jdbcType=INTEGER},
             #{record.operatorId,jdbcType=INTEGER},
             #{record.operatorName,jdbcType=VARCHAR},
             #{record.operateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>
